# Training outputs
*.pt
*.onnx
*.engine
*.mlmodel

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# IDE
.vscode/
.idea/
.codemate

data/*.mp4
data/mini/labels
data/mini/labels_single
data/mini/labels_multi
data/mini/images
.fuse_*
logs/
skills-lock.json
outputs/*
*.cache
runs/
.ruff_cache/
